[[plugins]]
repo = "vim-denops/denops.vim"

[[plugins]]
repo = "vim-denops/denops-helloworld.vim"

[[plugins]]
repo = "Shougo/dpp.vim"

[[plugins]]
repo = "Shougo/dpp-ext-installer"

[[plugins]]
repo = "Shougo/dpp-ext-local"

[[plugins]]
repo = "Shougo/dpp-ext-lazy"

[[plugins]]
repo = "Shougo/dpp-ext-toml"

[[plugins]]
repo = "Shougo/dpp-protocol-git"

# [[plugins]]
# repo = "craftzdog/solarized-osaka.nvim"
# lua_add = '''
# vim.o.background = "dark"
# vim.cmd.colorscheme("solarized-osaka")
# '''

[[plugins]]
repo = "catppuccin/nvim"
lua_add = '''
vim.cmd.colorscheme("catppuccin-macchiato")
'''

[[plugins]]
repo = "nvim-treesitter/nvim-treesitter"
hook_post_update = "TSUpdate"
lua_source = '''
require("nvim-treesitter.configs").setup({
  ensure_installed = { "lua", "vim", "vimdoc", "toml", "javascript", "typescript", "tsx" },
  highlight = {
    enable = true,
  },
})
'''

[[plugins]]
repo = "Shougo/ddc.vim"
lua_source = '''
vim.fn["ddc#custom#patch_global"]("ui", "pum")
vim.fn["ddc#custom#patch_global"]("sources", { "around", "lsp" })

vim.fn["ddc#custom#patch_global"]("autoCompleteDelay", 100)
vim.fn["ddc#custom#patch_global"]("autoCompleteEvents", { "InsertEnter", "TextChangedI" })


vim.fn["ddc#custom#patch_global"]("sourceOptions", {
  _ = {
    matchers = { "matcher_fuzzy" },
    sorters = { "sorter_fuzzy" },
    converters = { "converter_fuzzy" },
  },
  around = {
    mark = "[AROUND]",
  },
  lsp = {
    mark = "[LSP]",
    ignoreCase = true,
    dup = "keep",
    isVolatile = true,
    forceCompletionPattern = [[\.\w*|:\w*|->\w*]],
  },
})
vim.fn["ddc#custom#patch_global"]("sourceParams", {
  lsp = {
    lspEngine = "nvim-lsp",
    enableResolveItem = true,
    enableAdditionalTextEdit = true,
  }
})
vim.fn["ddc#custom#patch_global"]("filterParams", {
  converter_fuzzy = {
    hlGroup = "IncSearch",
  }
})
vim.fn["ddc#enable"]()
'''

[[plugins]]
repo = "Shougo/pum.vim"
hook_source = '''
inoremap <C-n>   <Cmd>call pum#map#insert_relative(+1)<CR>
inoremap <C-p>   <Cmd>call pum#map#insert_relative(-1)<CR>
inoremap <C-y>   <Cmd>call pum#map#confirm()<CR>
inoremap <C-e>   <Cmd>call pum#map#cancel()<CR>
inoremap <PageDown> <Cmd>call pum#map#insert_relative_page(+1)<CR>
inoremap <PageUp>   <Cmd>call pum#map#insert_relative_page(-1)<CR>
'''

[[plugins]]
repo = "Shougo/ddc-ui-pum"

[[plugins]]
repo = "tani/ddc-fuzzy"

[[plugins]]
repo = "Shougo/ddc-source-around"

[[plugins]]
repo = "neovim/nvim-lspconfig"
depends = ["ddc-source-lsp"]
lua_add = '''
vim.lsp.config("*", {
  capabilities = require("ddc_source_lsp").make_client_capabilities(),
})
vim.lsp.enable("vtsls")
'''

[[plugins]]
repo = "Shougo/ddc-source-lsp"

[[plugins]]
repo = "matsui54/denops-popup-preview.vim"
lua_source = '''
vim.fn["popup_preview#enable"]()
'''

[[plugins]]
repo = "matsui54/denops-signature_help"
lua_source = '''
vim.g.signature_help_config = {
    contentsStyle = "full",
    viewStyle = "floating",
}
vim.fn["signature_help#enable"]()
'''

[[plugins]]
repo = "Shougo/ddu.vim"
hook_source = '''
call ddu#custom#patch_global({
    \   'sync': v:true,
    \   'ui': 'filer',
    \   'sources': [{'name': 'file', 'params': {}}],
    \   'sourceOptions': {
    \     '_': {
    \       'columns': ['filename'],
    \     },
    \   },
    \   'kindOptions': {
    \     'file': {
    \       'defaultAction': 'open',
    \     },
    \   }
    \ })
autocmd FileType ddu-filer call s:ddu_my_settings()
function! s:ddu_my_settings() abort
  nnoremap <buffer><silent> <CR>
        \ <Cmd>call ddu#ui#do_action('itemAction')<CR>
  nnoremap <buffer><silent> <Space>
        \ <Cmd>call ddu#ui#do_action('toggleSelectItem')<CR>
  nnoremap <buffer> o
        \ <Cmd>call ddu#ui#do_action('expandItem',
        \ {'mode': 'toggle'})<CR>
  nnoremap <buffer><silent> q
        \ <Cmd>call ddu#ui#do_action('quit')<CR>
  nnoremap <buffer> .
	\ <Cmd>call ddu#ui#do_action('updateOptions', #{
	\   sourceOptions: #{
	\     _: #{
	\       matchers: ToggleHidden(),
	\     },
	\   },
	\ })<CR>
	\<Cmd>call ddu#ui#do_action('redraw')<CR>
	
	function ToggleHidden()
	  const current = ddu#custom#get_current(b:ddu_ui_name)
	  const source_options = get(current, 'sourceOptions', {})
	  const source_options_all = get(source_options, '_', {})
	  const matchers = get(source_options_all, 'matchers', [])
	  return empty(matchers) ? ['matcher_hidden'] : []
	endfunction
endfunction

nnoremap <Leader>e <Cmd>call ddu#start()<Cr>

autocmd TabEnter,WinEnter,CursorHold,FocusGained *
    \ call ddu#ui#do_action('checkItems')
'''

[[plugins]]
repo = "Shougo/ddu-ui-filer"

[[plugins]]
repo = "Shougo/ddu-ui-ff"

[[plugins]]
repo = "Shougo/ddu-kind-file"

[[plugins]]
repo = "Shougo/ddu-column-filename"

[[plugins]]
repo = "Shougo/ddu-source-file"

[[plugins]]
repo = "shun/ddu-source-buffer"

[[plugins]]
repo = "uga-rosa/ddu-filter-converter_devicon"

[[plugins]]
repo = "Shougo/ddu-filter-matcher_hidden"

