[[plugins]]
repo = 'Shougo/dpp.vim'

[[plugins]]
repo = 'Shougo/dpp-ext-installer'

[[plugins]]
repo = 'Shougo/dpp-ext-local'

[[plugins]]
repo = 'Shougo/dpp-ext-lazy'

[[plugins]]
repo = 'Shougo/dpp-ext-toml'

[[plugins]]
repo = 'Shougo/dpp-protocol-git'

[[plugins]]
repo = "craftzdog/solarized-osaka.nvim"
lua_add = '''
vim.o.background = "dark"
vim.cmd.colorscheme("solarized-osaka")
'''

[[plugins]]
repo = "nvim-treesitter/nvim-treesitter"
hook_post_update = "TSUpdate"
lua_source = '''
require("nvim-treesitter.configs").setup({
  ensure_installed = { "lua", "vim", "vimdoc", "toml", "javascript", "typescript", "tsx" },
  highlight = {
    enable = true,
  },
})
'''

[[plugins]]
repo = "Shougo/ddc.vim"
lua_source = '''
vim.fn["ddc#custom#patch_global"]("ui", "pum")
vim.fn["ddc#custom#patch_global"]("sources", { "around", "lsp" })

vim.fn["ddc#custom#patch_global"]("autoCompleteDelay", 100)
vim.fn["ddc#custom#patch_global"]("autoCompleteEvents", { "InsertEnter", "TextChangedI" })


vim.fn["ddc#custom#patch_global"]("sourceOptions", {
  _ = {
    matchers = { "matcher_fuzzy" },
    sorters = { "sorter_fuzzy" },
    converters = { "converter_fuzzy" },
  },
  around = {
    mark = "[AROUND]",
  },
  lsp = {
    mark = "[LSP]",
    ignoreCase = true,
    dup = "keep",
    isVolatile = true,
    forceCompletionPattern = [[\.\w*|:\w*|->\w*]],
  },
})
vim.fn["ddc#custom#patch_global"]("sourceParams", {
  lsp = {
    lspEngine = "nvim-lsp",
    enableResolveItem = true,
    enableAdditionalTextEdit = true,
  }
})
vim.fn["ddc#custom#patch_global"]("filterParams", {
  converter_fuzzy = {
    hlGroup = "IncSearch",
  }
})
vim.fn["ddc#enable"]()
'''

[[plugins]]
repo = "Shougo/pum.vim"
hook_source = '''
inoremap <C-n>   <Cmd>call pum#map#insert_relative(+1)<CR>
inoremap <C-p>   <Cmd>call pum#map#insert_relative(-1)<CR>
inoremap <C-y>   <Cmd>call pum#map#confirm()<CR>
inoremap <C-e>   <Cmd>call pum#map#cancel()<CR>
inoremap <PageDown> <Cmd>call pum#map#insert_relative_page(+1)<CR>
inoremap <PageUp>   <Cmd>call pum#map#insert_relative_page(-1)<CR>
'''

[[plugins]]
repo = "Shougo/ddc-ui-pum"

[[plugins]]
repo = "tani/ddc-fuzzy"

[[plugins]]
repo = "Shougo/ddc-source-around"

[[plugins]]
repo = "neovim/nvim-lspconfig"
depends = ["ddc-source-lsp"]
lua_add = '''
vim.lsp.config("*", {
  capabilities = require("ddc_source_lsp").make_client_capabilities(),
})
vim.lsp.enable("vtsls")
'''

[[plugins]]
repo = "Shougo/ddc-source-lsp"

[[plugins]]
repo = "matsui54/denops-popup-preview.vim"
lua_source = '''
vim.fn["popup_preview#enable"]()
'''

[[plugins]]
repo = "matsui54/denops-signature_help"
lua_source = '''
vim.g.signature_help_config = {
    contentsStyle = "full",
    viewStyle = "floating",
}
vim.fn["signature_help#enable"]()
'''

[[plugins]]
repo = "Shougo/ddu.vim"
lua_source = '''
vim.fn["ddu#custom#patch_local"]("filer", {
  ui = "filer",
  sources = { { name = "file", params = {} } },
  sourceOptions = {
    _ = {
      columns = {"filename"},
      converters = {"converter_devicon"}
    },
  },
  kindOptions = {
    file = {
      defaultAction = "open",
    },
  },
  uiParams = {
    filer = {
      split = "floating",
    },
  },
})

vim.api.nvim_create_autocmd("FileType", {
  pattern = "ddu-filer",
  callback = function()
    vim.keymap.set("n", "l", function()
      local item = vim.fn["ddu#ui#get_item"]()
      if item and item.isTree then
        return "<Cmd>call ddu#ui#do_action('itemAction', {'name': 'narrow'})<CR>"
      else
        return "<Cmd>call ddu#ui#do_action('itemAction')<CR>"
      end
    end, { buffer = true, silent = true, expr = true })
    vim.keymap.set("n", "h", "<Cmd>call ddu#ui#do_action('itemAction', {'name': 'narrow', 'params': {'path': '..'}})<Cr>", { buffer = true, silent = true })
    vim.keymap.set("n", "c", "<Cmd>call ddu#ui#do_action('itemAction', {'name': 'newFile'})<Cr>", { buffer = true })
    vim.keymap.set("n", "r", "<Cmd>call ddu#ui#do_action('itemAction', {'name': 'rename'})<Cr>", { buffer = true })
    vim.keymap.set("n", "d", "<Cmd>call ddu#ui#do_action('itemAction', {'name': 'delete'})<Cr>", { buffer = true })
    vim.keymap.set("n", ".", function()
      local current = vim.fn["ddu#custom#get_current"](vim.b.ddu_ui_name)
      local matchers = current.sourceOptions and current.sourceOptions._ and current.sourceOptions._.matchers or {}
      local new_matchers

      if vim.tbl_isempty(matchers) then
        new_matchers = { "matcher_hidden" }
      else
        new_matchers = {}
      end

      vim.fn["ddu#custom#patch_local"](vim.b.ddu_ui_name, {
        sourceOptions = {
          _ = {
            matchers = new_matchers,
          },
        },
      })

      vim.fn["ddu#ui#do_action"]("redraw")
    end, { buffer = true })
    vim.keymap.set("n", "q", "<Cmd>call ddu#ui#do_action('quit')<Cr>", { buffer = true, silent = true })
  end
})

vim.keymap.set("n", "<Leader>e", "<Cmd>call ddu#start({ 'name': 'filer' })<Cr>")
'''

[[plugins]]
repo = "Shougo/ddu-ui-filer"

[[plugins]]
repo = "Shougo/ddu-kind-file"

[[plugins]]
repo = "Shougo/ddu-column-filename"

[[plugins]]
repo = "Shougo/ddu-source-file"

[[plugins]]
repo = "uga-rosa/ddu-filter-converter_devicon"

[[plugins]]
repo = "Shougo/ddu-filter-matcher_hidden"

