[[plugins]]
repo = "vim-denops/denops.vim"

[[plugins]]
repo = "vim-denops/denops-helloworld.vim"

[[plugins]]
repo = "Shougo/dpp.vim"

[[plugins]]
repo = "Shougo/dpp-ext-installer"

[[plugins]]
repo = "Shougo/dpp-ext-local"

[[plugins]]
repo = "Shougo/dpp-ext-lazy"

[[plugins]]
repo = "Shougo/dpp-ext-toml"

[[plugins]]
repo = "Shougo/dpp-protocol-git"

[[plugins]]
repo = "catppuccin/vim"
hook_add = '''
colorscheme catppuccin_macchiato
'''

[[plugins]]
repo = "Shougo/ddc.vim"
hook_source = '''
call ddc#custom#patch_global('ui', 'pum')
call ddc#custom#patch_global('sources', ['around', 'lsp'])

call ddc#custom#patch_global('autoCompleteDelay', 100)
call ddc#custom#patch_global('autoCompleteEvents', ['InsertEnter', 'TextChangedI'])

call ddc#custom#patch_global('sourceOptions', {
  \ '_': {
  \   'matchers': ['matcher_fuzzy'],
  \   'sorters': ['sorter_fuzzy'],
  \   'converters': ['converter_fuzzy'],
  \ },
  \ 'around': {
  \   'mark': '[AROUND]',
  \ },
  \ 'lsp': {
  \   'mark': '[LSP]',
  \   'ignoreCase': v:true,
  \   'dup': 'keep',
  \   'isVolatile': v:true,
  \   'forceCompletionPattern': '\.\w*|:\w*|->\w*',
  \ }})

call ddc#custom#patch_global('sourceParams', {
  \ 'lsp': {
  \   'lspEngine': 'vim-lsp',
  \   'enableResolveItem': v:true,
  \   'enableAdditionalTextEdit': v:true,
  \ }})

call ddc#custom#patch_global('filterParams', {
  \ 'converter_fuzzy': {
  \   'hlGroup': 'IncSearch',
  \ }})

call ddc#enable()
'''

[[plugins]]
repo = "Shougo/pum.vim"
hook_source = '''
inoremap <C-n>   <Cmd>call pum#map#insert_relative(+1)<CR>
inoremap <C-p>   <Cmd>call pum#map#insert_relative(-1)<CR>
inoremap <C-y>   <Cmd>call pum#map#confirm()<CR>
inoremap <C-e>   <Cmd>call pum#map#cancel()<CR>
inoremap <PageDown> <Cmd>call pum#map#insert_relative_page(+1)<CR>
inoremap <PageUp>   <Cmd>call pum#map#insert_relative_page(-1)<CR>
'''

[[plugins]]
repo = "Shougo/ddc-ui-pum"

[[plugins]]
repo = "tani/ddc-fuzzy"

[[plugins]]
repo = "Shougo/ddc-source-around"

[[plugins]]
repo = "prabirshrestha/vim-lsp"
hook_add = '''
if executable('vtsls')
  autocmd User lsp_setup call lsp#register_server({
    \ 'name': 'vtsls',
    \ 'cmd': {server_info->['vtsls', '--stdio']},
    \ 'allowlist': ['javascript', 'javascriptreact', 'typescript', 'typescriptreact'],
    \ })
endif

function! s:on_lsp_buffer_enabled() abort
  setlocal omnifunc=lsp#complete
  if exists('+tagfunc') | setlocal tagfunc=lsp#tagfunc | endif
  nnoremap <buffer> <Leader>gd <Cmd>call ddu#start({'name': 'lsp_definition'})<Cr>
  nnoremap <buffer> <Leader>gD <Cmd>call ddu#start({'name': 'lsp_typeDefinition'})<Cr>
  nnoremap <buffer> <Leader>gr <Cmd>call ddu#start({'name': 'lsp_references'})<Cr>
  nnoremap <buffer> <Leader>gi <Cmd>call ddu#start({'name': 'lsp_implementation'})<Cr>
  nnoremap <buffer> <Leader>ca <Cmd>call ddu#start({'name': 'lsp_codeAction'})<Cr>
  nnoremap <buffer> <Leader>xx <Cmd>call ddu#start({'name': 'buffer_diagnostics'})<Cr>
  nnoremap <buffer> <Leader>xg <Cmd>call ddu#start({'name': 'global_diagnostics'})<Cr>
  nnoremap <buffer> <leader>rn <plug>(lsp-rename)
  nnoremap <buffer> [g <plug>(lsp-previous-diagnostic)
  nnoremap <buffer> ]g <plug>(lsp-next-diagnostic)
  nnoremap <buffer> K <plug>(lsp-hover)
  nnoremap <buffer> <expr><c-f> lsp#scroll(+4)
  nnoremap <buffer> <expr><c-b> lsp#scroll(-4)
endfunction

augroup lsp_install
    au!
    " call s:on_lsp_buffer_enabled only for languages that has the server registered.
    autocmd User lsp_buffer_enabled call s:on_lsp_buffer_enabled()
augroup END
'''

[[plugins]]
repo = "Shougo/ddc-source-lsp"

[[plugins]]
repo = "matsui54/denops-popup-preview.vim"
hook_source = '''
call popup_preview#enable()
'''

[[plugins]]
repo = "matsui54/denops-signature_help"
hook_source = '''
let g:signature_help_config = {
  \ 'contentsStyle': 'full',
  \ 'viewStyle': 'floating',
  \ }
let g:lsp_signature_help_enabled = 0
call signature_help#enable()
'''

[[plugins]]
repo = "Shougo/ddu.vim"
hook_add = '''
call ddu#custom#patch_local('filer', {
  \ 'ui': 'filer',
  \ 'sources': [{'name': 'file'}],
  \ 'sourceOptions': {
  \   '_': {
  \     'ignoreCase': v:true,
  \     'columns': ['filename'],
  \     'matchers': ['matcher_substring'],
  \     'converters': ['converter_devicon'],
  \   },
  \ },
  \ 'kindOptions': {
  \   'file': {
  \     'defaultAction': 'open',
  \   },
  \ },
  \ 'uiParams': {
  \   'filer': {
  \     'split': 'no',
  \     'sort': 'filename',
  \     'sortTreesFirst': v:true,
  \     'previewSplit': 'vertical',
  \   },
  \ }})

autocmd FileType ddu-filer call s:ddu_filer_setting()

function! s:ddu_filer_setting() abort
  nnoremap <buffer><silent><expr> l
    \ ddu#ui#get_item()->get('isTree', v:false) ?
    \ "<Cmd>call ddu#ui#do_action('itemAction', {'name': 'narrow'})<Cr>" :
    \ "<Cmd>call ddu#ui#do_action('itemAction')<Cr>"
  nnoremap <buffer><silent> h <Cmd>call ddu#ui#do_action('itemAction', {'name': 'narrow', 'params': {'path': '..'}})<CR>
  nnoremap <buffer><silent> c <Cmd>call ddu#ui#do_action('itemAction', {'name': 'newFile'})<CR>
  nnoremap <buffer><silent> r <Cmd>call ddu#ui#do_action('itemAction', {'name': 'rename'})<CR>
  nnoremap <buffer><silent> d <Cmd>call ddu#ui#do_action('itemAction', {'name': 'delete'})<CR>
  nnoremap <buffer><silent> q <Cmd>call ddu#ui#do_action('quit')<CR>
  nnoremap <buffer><silent> / <Cmd>call ddu#ui#do_action('openFilterWindow')<Cr>
  nnoremap <buffer><silent> p <Cmd>call ddu#ui#do_action('togglePreview')<Cr>
  " TODO: なんか思ったように動かん
  nnoremap <buffer> .
    \ <Cmd>call ddu#ui#do_action('updateOptions', {
    \   'sourceOptions': {
    \     '_': {
    \       'matchers': ToggleHidden(),
    \     },
    \   },
    \ })<Cr>
    \ <Cmd> call ddu#ui#do_action('redraw')<Cr>
endfunction

function ToggleHidden()
  const current = ddu#custom#get_current(b:ddu_ui_name)
  const source_options = get(current, 'sourceOptions', {})
  const source_options_all = get(source_options, '_', {})
  const matchers = get(source_options_all, 'matchers', [])
  return index(matchers, 'matcher_hidden') >= 0
    \ ? filter(copy(matchers), {_, v -> v != 'matcher_hidden'})
    \ : add(copy(matchers), 'matcher_hidden')
endfunction

nnoremap <Leader>e <Cmd>call ddu#start({'name': 'filer'})<Cr>

call ddu#custom#patch_local('buffer', {
  \ 'ui': 'ff',
  \ 'sources': [{'name': 'buffer'}],
  \ 'sourceOptions': {
  \   '_': {
  \     'ignoreCase': v:true,
  \     'matchers': ['matcher_substring'],
  \   },
  \ },
  \ 'sourceParams': {
  \   '_': {
  \     'orderby': 'desc',
  \   },
  \ },
  \ 'kindOptions': {
  \   'file': {
  \     'defaultAction': 'open',
  \   },
  \ },
  \ 'uiParams': {
  \   'ff': {
  \     'split': 'no',
  \     'previewSplit': 'vertical',
  \     'startAutoAction': v:true,
  \     'autoAction': {
  \       'name': 'preview',
  \     },
  \   },
  \ }})

autocmd FileType ddu-ff call s:ddu_ff_setting()

function! s:ddu_ff_setting() abort
  nnoremap <buffer><silent> l <Cmd>call ddu#ui#do_action('itemAction')<Cr>
  nnoremap <buffer><silent> q <Cmd>call ddu#ui#do_action('quit')<CR>
  nnoremap <buffer><silent> / <Cmd>call ddu#ui#do_action('openFilterWindow')<Cr>

  if b:ddu_ui_name == 'buffer'
    nnoremap <buffer><silent> d <Cmd>call ddu#ui#do_action('itemAction', {'name': 'delete'})<CR>
  endif
endfunction

nnoremap <Leader>fb <Cmd>call ddu#start({'name': 'buffer'})<Cr>

call ddu#custom#patch_local('lsp_definition', {
  \ 'ui': 'ff',
  \ 'sources': [{'name': 'lsp_definition'}],
  \ 'sourceOptions': {
  \   '_': {
  \     'ignoreCase': v:true,
  \     'matchers': ['matcher_substring'],
  \   },
  \ },
  \ 'sourceParams': {
  \   'lsp_definition': {
  \     'clientName': 'vim-lsp',
  \     'method': 'textDocument/definition',
  \   },
  \ },
  \ 'kindOptions': {
  \   'lsp': {
  \     'defaultAction': 'open',
  \   },
  \ },
  \ 'uiParams': {
  \   'ff': {
  \     'ignoreEmpty': v:true,
  \     'previewSplit': 'vertical',
  \     'startAutoAction': v:true,
  \     'autoAction': {
  \       'name': 'preview',
  \     },
  \   },
  \ }})

call ddu#custom#patch_local('lsp_typeDefinition', {
  \ 'ui': 'ff',
  \ 'sources': [{'name': 'lsp_definition'}],
  \ 'sourceOptions': {
  \   '_': {
  \     'ignoreCase': v:true,
  \     'matchers': ['matcher_substring'],
  \   },
  \ },
  \ 'sourceParams': {
  \   'lsp_definition': {
  \     'clientName': 'vim-lsp',
  \     'method': 'textDocument/typeDefinition',
  \   },
  \ },
  \ 'kindOptions': {
  \   'lsp': {
  \     'defaultAction': 'open',
  \   },
  \ },
  \ 'uiParams': {
  \   'ff': {
  \     'ignoreEmpty': v:true,
  \     'previewSplit': 'vertical',
  \     'startAutoAction': v:true,
  \     'autoAction': {
  \       'name': 'preview',
  \     },
  \   },
  \ }})

call ddu#custom#patch_local('lsp_implementation', {
  \ 'ui': 'ff',
  \ 'sources': [{'name': 'lsp_definition'}],
  \ 'sourceOptions': {
  \   '_': {
  \     'ignoreCase': v:true,
  \     'matchers': ['matcher_substring'],
  \   },
  \ },
  \ 'sourceParams': {
  \   'lsp_definition': {
  \     'clientName': 'vim-lsp',
  \     'method': 'textDocument/implementation',
  \   },
  \ },
  \ 'kindOptions': {
  \   'lsp': {
  \     'defaultAction': 'open',
  \   },
  \ },
  \ 'uiParams': {
  \   'ff': {
  \     'ignoreEmpty': v:true,
  \     'previewSplit': 'vertical',
  \     'startAutoAction': v:true,
  \     'autoAction': {
  \       'name': 'preview',
  \     },
  \   },
  \ }})

call ddu#custom#patch_local('lsp_references', {
  \ 'ui': 'ff',
  \ 'sources': [{'name': 'lsp_references'}],
  \ 'sourceOptions': {
  \   '_': {
  \     'ignoreCase': v:true,
  \     'matchers': ['matcher_substring'],
  \   },
  \ },
  \ 'sourceParams': {
  \   'lsp_references': {
  \     'clientName': 'vim-lsp',
  \   },
  \ },
  \ 'kindOptions': {
  \   'lsp': {
  \     'defaultAction': 'open',
  \   },
  \ },
  \ 'uiParams': {
  \   'ff': {
  \     'ignoreEmpty': v:true,
  \     'previewSplit': 'vertical',
  \     'startAutoAction': v:true,
  \     'autoAction': {
  \       'name': 'preview',
  \     },
  \   },
  \ }})

call ddu#custom#patch_local('lsp_codeAction', {
  \ 'ui': 'ff',
  \ 'sources': [{'name': 'lsp_codeAction'}],
  \ 'sourceOptions': {
  \   '_': {
  \     'ignoreCase': v:true,
  \     'matchers': ['matcher_substring'],
  \   },
  \ },
  \ 'sourceParams': {
  \   'lsp_codeAction': {
  \     'clientName': 'vim-lsp',
  \   },
  \ },
  \ 'kindOptions': {
  \   'lsp_codeAction': {
  \     'defaultAction': 'apply',
  \   },
  \ },
  \ 'uiParams': {
  \   'ff': {
  \     'ignoreEmpty': v:true,
  \     'previewSplit': 'vertical',
  \   },
  \ }})

call ddu#custom#patch_local('buffer_diagnostics', {
  \ 'ui': 'ff',
  \ 'sources': [{'name': 'lsp_diagnostic'}],
  \ 'sourceParams': {
  \   '_': {
  \     'ignoreCase': v:true,
  \     'matchers': ['matcher_substring'],
  \   },
  \   'lsp_diagnostic': {
  \     'clientName': 'vim-lsp',
  \     'buffer': 0,
  \   },
  \ },
  \ 'kindOptions': {
  \   'lsp': {
  \     'defaultAction': 'open',
  \   },
  \ },
  \ 'uiParams': {
  \   'ff': {
  \     'ignoreEmpty': v:true,
  \     'previewSplit': 'vertical',
  \     'startAutoAction': v:true,
  \     'autoAction': {
  \       'name': 'preview',
  \     },
  \   },
  \ }})

call ddu#custom#patch_local('global_diagnostics', {
  \ 'ui': 'ff',
  \ 'sources': [{'name': 'lsp_diagnostic'}],
  \ 'sourceParams': {
  \   '_': {
  \     'ignoreCase': v:true,
  \     'matchers': ['matcher_substring'],
  \   },
  \   'lsp_diagnostic': {
  \     'clientName': 'vim-lsp',
  \     'buffer': v:null,
  \   },
  \ },
  \ 'kindOptions': {
  \   'lsp': {
  \     'defaultAction': 'open',
  \   },
  \ },
  \ 'uiParams': {
  \   'ff': {
  \     'ignoreEmpty': v:true,
  \     'previewSplit': 'vertical',
  \     'startAutoAction': v:true,
  \     'autoAction': {
  \       'name': 'preview',
  \     },
  \   },
  \ }})

call ddu#custom#patch_local('help', {
  \ 'ui': 'ff',
  \ 'sources': [{'name': 'help'}],
  \ 'sourceOptions': {
  \   '_': {
  \     'ignoreCase': v:true,
  \     'matchers': ['matcher_substring'],
  \   },
  \ },
  \ 'kindOptions': {
  \   'help': {
  \     'defaultAction': 'open',
  \   },
  \ },
  \ 'uiParams': {
  \   'ff': {
  \     'ignoreEmpty': v:true,
  \     'split': 'no',
  \     'previewSplit': 'vertial',
  \   },
  \ }})

nnoremap <Leader>fh <Cmd>call ddu#start({'name': 'help'})<Cr>

call ddu#custom#patch_local('fzf', {
  \ 'ui': 'ff',
  \ 'sources': [{'name': 'file_rec'}],
  \ 'sourceOptions': {
  \   '_': {
  \     'ignoreCase': v:true,
  \     'matchers': ['matcher_substring'],
  \     'converters': ['converter_devicon'],
  \   },
  \ },
  \ 'sourceParams': {
  \   'file_rec': {
  \     'ignoredDirectories': ['.git', 'node_modules'],
  \   },
  \ },
  \ 'kindOptions': {
  \   'file': {
  \     'defaultAction': 'open',
  \   },
  \ },
  \ 'uiParams': {
  \   'ff': {
  \     'ignoreEmpty': v:true,
  \     'split': 'no',
  \     'previewSplit': 'vertical',
  \     'startAutoAction': v:true,
  \     'autoAction': {
  \       'name': 'preview',
  \     },
  \   },
  \ }})

nnoremap <Leader>ff <Cmd>call ddu#start({'name': 'fzf'})<Cr>
'''

[[plugins]]
repo = "Shougo/ddu-ui-filer"

[[plugins]]
repo = "Shougo/ddu-ui-ff"

[[plugins]]
repo = "Shougo/ddu-kind-file"

[[plugins]]
repo = "Shougo/ddu-column-filename"

[[plugins]]
repo = "Shougo/ddu-source-file"

[[plugins]]
repo = "shun/ddu-source-buffer"

[[plugins]]
repo = "uga-rosa/ddu-source-lsp"

[[plugins]]
repo = "matsui54/ddu-source-help"

[[plugins]]
repo = "Shougo/ddu-source-file_rec"

[[plugins]]
repo = "Shougo/ddu-filter-matcher_substring"

[[plugins]]
repo = "uga-rosa/ddu-filter-converter_devicon"

[[plugins]]
repo = "Shougo/ddu-filter-matcher_hidden"

[[plugins]]
repo = "Shougo/ddt.vim"
hook_source = '''
call ddt#custom#patch_global({
  \ 'ui': 'shell',
  \ 'uiParams': {
  \   'shell': {
  \     'noSaveHistoryCommands': ['history'],
  \     'prompt': '%',
  \     'promptPattern': '\w*% \?',
  \   },
  \ }})

autocmd FileType ddt-shell call s:ddt_my_setting()
function! s:ddt_my_setting() abort
  nnoremap <buffer> <C-n> <Cmd>call ddt#ui#do_action('nextPrompt')<Cr>
  nnoremap <buffer> <C-p> <Cmd>call ddt#ui#do_action('previousPrompt')<Cr>
  nnoremap <buffer> <C-y> <Cmd>call ddt#ui#do_action('pastePrompt')<Cr>
  nnoremap <buffer> <Cr> <Cmd>call ddt#ui#do_action('executeLine')<Cr>
endfunction

nnoremap <Leader>t <Cmd>call ddt#start()<Cr>
'''

[[plugins]]
repo = "Shougo/ddt-ui-shell"

